.navbar {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 64px;
}

/* lewa strona (pusta) */
.left-spacer {}

/* środkowy tytuł */
.brand {
  justify-self: center;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
  }
}

/* prawa strona */
.right-controls {
  justify-self: end;
}
